.Chat
 .header
  .left-box
   %p.--group-name
    = @group.name
   %ul.--member-list
    %li Member：
    - @group.users.each do |user|
     %li.--member-name
      = user.name
  .right-box
   = link_to edit_group_path(@group), class: "edit-btn" do 
    Edit
 .messages
  = render partial: 'message', collection: @messages
 .form
  = form_for [@group, @message] do |f|
   .form__mask
    = f.text_field :content, class: 'message_content', placeholder: 'type a message'
    = f.label :image, class: 'icon' do
     = icon('far', 'image')
     = f.file_field :image, class: 'hidden'
   = f.submit 'Send', class: 'send-btn'
