.Side-bar
  .left-header
    .box
      %p.user-name
        = current_user.name
      %ul.menu
        %li.new-group
          = link_to new_group_path, class:"icon" do
            = icon('far', 'edit')
        %li.edit-user
          = link_to edit_user_path(current_user), class:"icon" do
            = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class:"link" do
        .group
          %p.name
            = group.name
          %p.new_message
            = group.show_last_message
